/* 55555555555555555 */

@import url("https://fonts.googleapis.com/css?family=Figtree:800|DM+Sans:400");

:root {
  --text: hsla(247, 57%, 91%, 1);
  --text_light: hsla(247, 57%, 91%, 0.9);
  --text_dark: hsla(247, 57%, 91%, 0.5);
  --background: rgb(20, 21, 20);
  --background_dark: rgb(16, 16, 15);
  --primary: #f72585;
  --secondary: hsla(247, 8%, 25%, 0.5);
  --accent: rgb(100, 35, 251);
  --outline: hsla(247, 5%, 36%, 1);
  --alert: hsla(360, 60%, 55%, 1);
  --on: #60f79d;
  --off: #f08080;
}

.contenar_audio {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  gap: 2rem;
  font-family: "DM Sans";
  font-weight: 400;
  color: var(--text);
}

.main_audio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

._svg {
  fill: var(--text_dark) !important;
  height: 1lh !important;
  width: 1lh !important;
}

.row_gap {
  gap: 10px;
}

.circle {
  position: relative;
  padding: 0;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

.circle svg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.split {
  width: 50%;
}

.center {
  align-items: center;
  align-self: center;

  text-align: left;
}

.column_cu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row_cu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.server {
  justify-content: space-between;
}

.widget {
  display: flex;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  gap: 0rem;
}

.widget-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

div.column:nth-child(2) {
  margin-top: 0rem;
}

.nav.left {
  height: 100%;
  position: sticky;
}

.nav.top {
  z-index: 1;
}

/*Decoration*/

.primary-fill {
  fill: var(--primary);
}

.primary {
  background: linear-gradient(114deg, var(--primary), var(--accent));
}

.secondary {
  background: #111 !important;
}

.muted {
  color: var(--text_dark);
}

.row.row_gap {
  display: flex;
  gap: 20px;
}

/*Tooltips*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background: var(--background_dark);
  color: var(--text_light);
  text-wrap: nowrap;
  border-radius: 0.5rem;
  padding: 0.75rem;
  position: absolute;
  z-index: 100;
  top: 5%;
  left: 115%;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--background_dark) transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.button_Cu {
  color: var(--text);
  padding: 0.9rem 1rem 0.9rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.circle {
  position: relative;
  padding: 0;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

/*Scroll*/
::-webkit-scrollbar {
  display: none;
}
audio {
  display: none !important;
}

.button_Cu {
  background: none;
  background: white;
}

.audio_body {
  background-color: var(--color-dark) !important;
}
.section_Cu {
  background: var(--color-dark) !important;
  color: white !important;
}

.we {
  color: white !important;
}

@media screen and (max-width: 992px) {
  .contenar_audio {
    display: block;
  }
  nav.nav.left.column {
    display: none;
  }
}

a.btn-click.magnetic.we span {
  color: white !important;
}

small {
  font-size: 80%;
  font-family: sans-serif;
}

small.muted.Copyright {
  color: var(--color-dark) !important;
}

svg._svg.center {
  color: white !important;
  fill: white !important;
}

.row.row_gap .button_Cu {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row.row_gap .button_Cu svg {
  fill: black !important;
  color: black !important;
}

a._a_link {
  --color: #6c6;
  border: 1px solid #4c4c4c;
  border-radius: 100em;
  font-size: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  appearance: none !important;
  width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  color: var(--text-color);
}

/*  */

fieldset {
  border: navajowhite;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

legend {
  color: #b8b8b8;
  margin: 10px;
  text-transform: capitalize;
  font-weight: 100;
}

.service-icon-box {
  display: flex;
}

input[type="checkbox"].chip {
  --color: #6c6;
  border: 1px solid #4c4c4c;
  border-radius: 100em;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  appearance: none !important;
  width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pot {
  width: 12px;
  height: 12px;
  aspect-ratio: 1;
  background: linear-gradient(currentcolor 0 0),
    linear-gradient(currentcolor 0 0);
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}

.r-1xvli5t {
  height: 1em;
}

.r-yyyyoo {
  fill: currentcolor;
}

.hidden {
  height: 5vh;
}

.r-1cvl2hr {
  color: #1d9bf0;
}

.captions {
  margin: 10px;
  font-weight: 700;
  text-align: right;
}
/*  */

.basic-marquee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}

.basic-marquee .button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.basic-marquee svg {
  width: 45px;
}

.basic-marquee button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cls-1 {
  color: #001c77;
}

.cls-1,
.cls-2 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: #ee8208;
  fill-rule: evenodd;
}

.cls-4 {
  fill: #fff;
}

.cls-5,
.cls-6 {
  fill-rule: evenodd;
}

.cls-5 {
  color: #48dd55;
}

.cls-6 {
  color: #fff;
}

.cls-7 {
  color: #0a66c2;
}

.cls-7,
.cls-8 {
  fill-rule: evenodd;
}

.cls-8 {
  fill: #fff;
}

.cls-9 {
  color: #10b7f4;
}

.cls-11 {
  fill: #1da1f2;
}

.cls-12 {
  fill: #fff;
}

.cls-13 {
  color: #ea4c89;
}

.cls-15 {
  fill: #1769ff;
}

.cls-17 {
  color: #f26522;
}

.cls-18 {
  color: #111;
}

/*  */

.btn_ {
  position: relative;
  border: none;
  margin: 10px;
  background-color: transparent;
}

.btn_ a {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(10, 128, 236, 0.7);
  padding: 5px;
}

.btn_ a svg {
  width: 3em;
}

#facebook {
  color: white;
}

._git {
  background: #181818 !important;
}

/*  */

.highlight {
  background-color: var(--button-bg) !important;
  opacity: 1 !important;
}

.highlight::before {
  background-color: var(--button-bg) !important;
  opacity: 1 !important;
}

.content {
  display: none;
}

:root {
  --bg-color: black;
  --text-color: #e0e0e0;

  --bg-c: white;
}

[data-theme="dark"] {
  --bg-color: #ffffff;
  --text-color: #212121;

  --bg-c: black;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.toggle-button {
  -webkit-appearance: none;
  outline: none;

  position: relative;
  transition: 0.4s;
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/sun.png")
    no-repeat center #ffffff;

  background-size: 20px;
  cursor: pointer;
}

.toggle-button:checked {
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/moon.png")
    no-repeat center #212121;

  background-size: 20px;
}

.mt-3 {
  margin-top: 3vh;
  line-height: 3;
}

ul li svg {
  fill: var(--text-color);
}

.activity-info-box {
  background: #111 !important;
}

button.row.row_cu.secondary.center.button_Cu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w_ {
  background: white;
}

/* loding */

#loding {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999999999999;
}
