@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2;
}

a {
  text-decoration: none;
  color: white;
}
:root {
  --bg-color: #060415;
  --text-color: #e0e0e0;
}
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
}

body {
  font-weight: 300;
  letter-spacing: 0.04em;
  height: 100vh;
  color: #808487;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: hidden;
  font-family: sans-serif;
}

.content-container {
  overflow: hidden;
}

.tagline {
  color: #b8b8b8;
  font-size: 14px;
}

.blue-strip {
  position: relative;
  display: flex;
  align-items: center;
}
.blue-strip:before {
  content: "";
  position: relative;
  width: 2px;
  height: 9.3333333333px;
  margin-right: 10px;
  background-color: #66c6e9;
}

.container {
  height: 100%;
  overflow: hidden;
  padding: 25px;
}

.container .content-container .profile-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container .content-container .profile-header .detail .name {
  font-size: 24px;
}
.container .content-container .profile-header .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-image: url(../img/me.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #696c89;
  position: relative;
}
input.toggle-button {
  position: absolute;
  right: -25px;
  bottom: -15px;
  z-index: 99999999999;
}

.pro {
  color: white;
  font-size: 11.6666666667px;
  background-color: #fe7f7f;
  font-weight: 400;
  width: 40px;
  height: 18px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.container .content-container .profile-header .profile-image img {
  width: 100%;
  background-size: cover;
}
.container .content-container .stat-container {
  width: 100%;
  border-bottom: solid 1px #ebebeb;
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.container .content-container .stat-container .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .content-container .stat-container .stat.middle {
  border-left: solid 1.5px #ebebeb;
  border-right: solid 1.5px #ebebeb;
}

.container .content-container .stat-container .stat .big-text {
  font-size: 18px;
  margin-bottom: -12px;
}
.container .content-container .stat-container .stat .small-text {
  font-size: 14px;
  color: #b8b8b8;
}

svg.bi.bi-arrow-right-short {
  width: 25px;
  height: 25px;
}

.container .content-container .biography-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .content-container .biography-container .square-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
}
.container .content-container .biography-container .square-container .square {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container
  .content-container
  .biography-container
  .square-container
  .square.orange {
  background: linear-gradient(135deg, #f99a71, #f97871);
}
.container
  .content-container
  .biography-container
  .square-container
  .square.orange
  * {
  color: white !important;
}
.container
  .content-container
  .biography-container
  .square-container
  .square.blue {
  background: linear-gradient(135deg, #9395ac, #696c89);
}
.container
  .content-container
  .biography-container
  .square-container
  .square.blue
  * {
  color: white !important;
}
.container
  .content-container
  .biography-container
  .square-container
  .square
  .big-text {
  font-size: 24px;
  margin-bottom: -12px;
}
.container
  .content-container
  .biography-container
  .square-container
  .square
  .small-text {
  font-size: 14px;
  color: #b8b8b8;
}
.container .content-container .action-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 5px;
  border-top: solid 1.5px #ebebeb;
  border-bottom: solid 1.5px #ebebeb;
}
.container .content-container .follower-header {
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
}
.container .content-container .follower-header * {
  padding-right: 20px;
}
.container .content-container .follower-header .name p {
  font-size: 24px;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.r-og9te1 {
  max-width: 20px;
}
.r-f9ja8p {
  max-height: 20px;
}
.r-1cvl2hr {
  color: rgb(29, 155, 240);
}

.r-1xvli5t {
  height: 1.25em;
}
.r-yyyyoo {
  fill: currentcolor;
}

/* .container .content-container .follower-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
} */
.container .content-container .follower-container img {
  width: 55%;
  max-height: 240px;
  object-fit: cover;
}
.container .content-container .follower-container .follower-stat-container {
  display: flex;
  flex-direction: column;
}

.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box.first {
  margin-bottom: 15px;
}
.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box.blue {
  background: linear-gradient(135deg, #39b5e3, #66c6e9);
  margin-top: auto;
}
.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box.blue
  * {
  color: white !important;
}
.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box
  .big-text {
  font-size: 24px;
  margin-bottom: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box
  .big-text
  i {
  font-size: 19.2px;
  margin-left: 5px;
}
.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box
  .big-text.green {
  color: #8bc98a;
}
.container
  .content-container
  .follower-container
  .follower-stat-container
  .stat-box
  .small-text {
  color: #b8b8b8;
}
.container .content-container .follower-container .follow-bio-container {
  width: 55%;
  display: flex;
  margin: 10px 0px;
}
.container .content-container .follower-container .follow-bio-container .stat {
  border-left: solid 1.5px #ebebeb;
  padding: 5px 60px 5px 10px;
}
.container
  .content-container
  .follower-container
  .follow-bio-container
  .stat
  .big-text {
  font-size: 24px;
  margin-bottom: -12px;
}
.container
  .content-container
  .follower-container
  .follow-bio-container
  .stat
  .small-text {
  font-size: 14px;
  color: #b8b8b8;
}
svg {
  width: 100%;
  height: 100%;
}

/*  */
.error {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*======================
    404 page
=======================*/

.page_404 {
  background: #fff;
  height: 100vh;
}

.container_ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
.row {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}
/*  */

@media screen and (max-width: 767px) {
  main {
    display: block !important;
  }
  .error {
    display: none;
  }
}

/*  */

.toggle-button {
  -webkit-appearance: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: relative;
  transition: 0.4s;
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/sun.png")
    no-repeat center #ffffff;
  background-size: 15px;
  cursor: pointer;
  margin: 10px;
}
.toggle-button:checked {
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/moon.png")
    no-repeat center #212121;
  background-size: 15px;
  margin: 10px;
}

.action-link {
  display: none !important;
}
