/*  */

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize !important;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-weight: 300;
  letter-spacing: 0.04em;
  font-family: sans-serif;
}

:root {
  --bg-color: black;
  --text-color: #e0e0e0;
  --bg-c: white;
  --bgd-div: #111;
}

[data-theme="dark"] {
  --bg-color: white;
  --text-color: black;
  --bg-c: black;
  --bgd-div: black;
}

p.p_Social {
  color: var(--text-color);
}

.toggle-button {
  -webkit-appearance: none;
  outline: none;
  position: relative;
  transition: 0.4s;
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/sun.png")
    no-repeat center #ffffff;
  background-size: 20px;
  cursor: pointer;
}

.toggle-button:checked {
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/moon.png")
    no-repeat center #212121;

  background-size: 20px;
}

.bl_ {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
  height: 100vh;
}

/* king.css */
/* 55555555555555555 */

@import url("https://fonts.googleapis.com/css?family=Figtree:800|DM+Sans:400");

.contenar_audio {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  gap: 2rem;
  font-family: "DM Sans";
  font-weight: 400;
  color: var(--text);
}

.main_audio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

._svg {
  height: 1lh !important;
  width: 1lh !important;
}

.row_gap {
  gap: 10px;
}

.circle {
  position: relative;
  padding: 0;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

.circle svg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.split {
  width: 50%;
}

.center {
  align-items: center;
  align-self: center;
  color: white;
  text-align: left;
}

.column_cu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row_cu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.server {
  justify-content: space-between;
}

.widget {
  display: flex;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  gap: 0rem;
}

.widget-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

div.column:nth-child(2) {
  margin-top: 0rem;
}

.nav.left {
  height: 100%;
  position: sticky;
}

.nav.top {
  z-index: 1;
}

/*Decoration*/

.primary-fill {
  /* fill: var(--primary); */
  fill: crimson;
}

.primary {
  background: linear-gradient(114deg, var(--primary), var(--accent));
}

.secondary {
  background: var(--bgd-div) !important;
}

.row.row_gap {
  display: flex;
  gap: 20px;
}

/*Tooltips*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background: var(--background_dark);
  color: var(--text_light);
  text-wrap: nowrap;
  border-radius: 0.5rem;
  padding: 0.75rem;
  position: absolute;
  z-index: 100;
  top: 5%;
  left: 115%;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--background_dark) transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.button_Cu {
  color: var(--text);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}

.circle {
  position: relative;
  padding: 0;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

/*Scroll*/
::-webkit-scrollbar {
  display: none;
}

audio {
  display: none !important;
}

.button_Cu {
  background: none;
  background: white;
}

.audio_body {
  background-color: var(--color-dark) !important;
}

.section_Cu {
  background: var(--color-dark) !important;
  color: white !important;
}

.we {
  color: white !important;
}

@media screen and (max-width: 992px) {
  .contenar_audio {
    display: block;
  }

  nav.nav.left.column {
    display: none;
  }
}

a.btn-click.magnetic.we span {
  color: white !important;
}

small {
  font-size: 80%;
  font-family: sans-serif;
}

small.muted.Copyright {
  color: var(--color-dark) !important;
}

svg._svg.center {
  color: white !important;
  fill: white !important;
}

.row.row_gap .button_Cu {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row.row_gap .button_Cu svg {
  fill: black !important;
  color: black !important;
}

/*  */

fieldset {
  border: navajowhite;
}

legend {
  color: #b8b8b8;
  margin: 10px 0;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.service-icon-box {
  display: flex;
}

input[type="checkbox"].chip {
  border: 1px solid #4c4c4c;
  border-radius: 100em;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  appearance: none !important;
  width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  display: none;
}

ul li svg {
  fill: var(--text-color);
}

.activity-info-box {
  background: var(--bgd-div) !important;
}

button.row.row_cu.secondary.center.button_Cu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.w_ {
  background: white;
}

/* loding */

#loding {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999999999999;
}

/* main.css */

.tagline {
  color: #b8b8b8;
  font-size: 14px;
}

.blue-strip {
  position: relative;
  display: flex;
  align-items: center;
}

.blue-strip:before {
  content: "";
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #111;
}

.div_ {
  margin: 20px 0;
}

.div_ .web {
  margin: 10px;
}

.content-container .profile-header .detail .name {
  font-size: 24px;
}

.content-container .profile-header .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-image: url(../img/me.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid var(--bg-color);
}

.pro {
  color: white;
  font-size: 11.6666666667px;
  background-color: #fe7f7f;
  font-weight: 400;
  width: 40px;
  height: 18px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-container .profile-header .profile-image img {
  width: 100%;
  background-size: cover;
}

.content-container .stat-container {
  width: 100%;
  border-bottom: solid 1px #ebebeb7a;
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.content-container .stat-container .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container .stat-container .stat.middle {
  border-left: solid 1px #ebebeb7a;
  border-right: solid 1px #ebebeb7a;
}

.content-container .stat-container .stat .big-text {
  font-size: 18px;
  margin-bottom: -12px;
}

.content-container .stat-container .stat .small-text {
  font-size: 14px;
  color: #b8b8b8;
}

svg.bi.bi-arrow-right-short {
  width: 25px;
  height: 25px;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.r-og9te1 {
  max-width: 20px;
}

.r-f9ja8p {
  max-height: 20px;
}

.r-1cvl2hr {
  color: rgb(29, 155, 240);
}

.r-1xvli5t {
  height: 1.25em;
}

.r-yyyyoo {
  fill: currentcolor;
}

.__svg {
  width: 100%;
  height: 100%;
}

/*  */

._main {
  padding: 2vh;
}

@media screen and (max-width: 767px) {
  main {
    display: block !important;
  }

  .error {
    display: none;
  }
}

/*  */

.action-link {
  display: none !important;
}

/*  */

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

.cover {
  width: 100%;
  height: 15vh;
  border-radius: 10px;
  /* background-image: url(../img/cover.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* position: relative; */
  overflow: hidden;

  background: var(--bgd-div);
}

.follower-header.m-5 {
  display: flex;
  align-items: center;
  margin: 4vh 0;
  gap: 10px;
}

.im {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 50%;
  overflow: hidden;
}

.yt-content-metadata-view-model-wiz__metadata-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#div1 {
  display: block;
}

button.follow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button.follow span svg {
  color: white;
  fill: white;
}

figure.image {
  margin-top: 2vh;
  border-radius: 5px;
  background: var(--bg-c);
  padding: 10px;
}

.servers.column.column_cu,
.Social {
  padding-bottom: 5vh;
}

.box {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  ._main {
    display: block !important;
  }

  .error {
    display: none;
  }
}

.content-container .profile-header {
  display: flex;
  width: 100%;
  gap: 10px;

  flex-direction: column;
  margin-top: -8vh;
}

.detail {
  line-height: 1.5;
}
li#left_ptn {
  cursor: pointer;
}

#left_S {
  width: 100%;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 9999999999999999999999;
  left: -1000vh;
  padding: 2vh;
  overflow: hidden;
  cursor: pointer;
}

#audio_left {
  width: 100%;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 9999999999999999999999;
  left: -1000vh;
  padding: 2vh;
  cursor: pointer;
  overflow: auto;
}

.flex_x {
  height: 80vh;
}

a.yt-core-attributed-string.yt-content-metadata-view-model-wiz__metadata-text.yt-core-attributed-string--white-space-pre-wrap.yt-core-attributed-string--link-inherit-color {
  color: var(--text-color);
}

.pot {
  background: var(--bgd-div);
}

.name,
.tagline {
  cursor: pointer;
}

.flexJ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#loding {
  display: none;
}

.tagline_ {
  display: flex;
  gap: 5px;
  margin-top: 2vh;
}

.tagline_ .icon_Social {
  background: var(--bgd-div) !important;
  padding: 10px;
  border-radius: 50%;
}

p.U_Social,
small {
  font-size: small;
  color: #b8b8b8;
}

ul.Social_ul {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: self-start;
  width: 100%;
}

.name_Social,
li.Social_li {
  width: 100%;
}

.flex_Social {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 1;
}

.icon_Social {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.flex_p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon_Social svg {
  width: 26px !important;
  height: 26px !important;
}

.tagline_ .icon_Social svg {
  width: 20px !important;
  height: 20px !important;
}

main#_main {
  display: none !important;
}

@media screen and (max-width: 992px) {
  section.color {
    display: none;
  }
  main#_main {
    display: block !important;
  }
}

/* new csssssssssss */

.Title-Name {
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

.Title-P {
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6875em;
  font-weight: 400;
  color: #959595;
}

.col {
  margin: 10px;
  border: 1px solid rgb(1, 1, 1);
  border-radius: 20px;
}

.ONE {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.TOW {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.THRE {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0rem 0.3rem 0.6rem var(--greyLight-2),
    0rem -0.2rem 0.5rem var(--white);
}

.col-img {
  margin: 20px;
  border-radius: 20px 0px 20px 0px;
  background-image: url(../img/me.jpeg);
  background-size: cover;
  height: 28vh;
  background-position: center center;
}

.col-text {
  margin: 10px;
  display: flex;
  align-items: center;
}

.col-text p {
  font-weight: 600;
  color: #919191;
}

#col-tex {
  float: right;
  color: white;
}

/* ............................................................................................... */

.col-tow {
  box-shadow: 0rem 0.3rem 0.6rem var(--greyLight-2),
    0rem -0.2rem 0.5rem var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-tow-one {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-tow-one p {
  padding: 0;
  margin: 0;
  color: #919191;
  text-transform: uppercase;
  font-weight: 600;
}

.col-tow-one p span {
  color: white;
}

.col-tow-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.col-tow-img p {
  color: #919191;
  font-weight: bold;
  font-size: 46px;
}

#col-tow-img {
  width: 20%;
}

.col-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .................................................................... */
/* .col-TOW-Grid{display: flex; justify-content: center; align-items: center;} */
.col-TOW-Grid {
  box-shadow: 0rem 0.3rem 0.6rem var(--greyLight-2),
    0rem -0.2rem 0.5rem var(--white);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.col-TOW-Grid img {
  width: 80%;
}

.col-TOW-Grid p span {
  color: #919191;
}

.col-TOW-Grid p {
  color: white;
  font-weight: 600;
  text-align: left;
  width: 100%;
}

/* .................................................................... */

.col.col-TOW-Grid-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .................................................................... */

.icons-Tow-End {
  padding: 10px;
  width: 60%;
  margin: auto;
  margin-top: 7vh;
  border-radius: 5px;
  text-decoration: none;
}

.col-TOW-Grid-icons-End {
  box-shadow: 0rem 0.3rem 0.6rem var(--greyLight-2),
    0rem -0.2rem 0.5rem var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.col-end {
  box-shadow: 0rem 0.3rem 0.6rem var(--greyLight-2),
    0rem -0.2rem 0.5rem var(--white);

  display: flex;
  align-items: center;
}

.col-end h1 {
  color: white;
  font-weight: bold;
  margin-left: 5vh;
  text-transform: uppercase !important;
  font-size: xxx-large;
}

.col-end h1 span {
  color: darkslateblue;
  text-transform: uppercase !important;
}

.col-text p {
  text-transform: uppercase !important;
}

.text-flex h2 {
  margin: 5px 0;
  text-transform: uppercase !important;
}

/* .................................... */
.col-contar-js {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.col-contar {
  background: rgb(1, 1, 1);

  margin: 20px;
  border-radius: 20px;
  text-align: center;
  padding: 5vh;
}

.col-contar h3 {
  color: white;
  font-size: 30px;
}

.col-contar p {
  color: #919191;
  text-transform: uppercase !important;
  font-weight: bold;
}

.col-coun {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 8px solid black;
  border-radius: 50%;
  position: relative;
}

.pie {
  position: relative;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.pie svg circle {
  stroke: darkslateblue;
  stroke-width: 10;
  stroke-dasharray: 5;
  stroke-dashoffset: 235;
  animation: pieChart 0s linear forwards;
}

@-webkit-keyframes pieChart {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes pieChart {
  100% {
    stroke-dashoffset: 0;
  }
}

.coun {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider {
  overflow: hidden;
  background: rgb(1, 1, 1);
  margin: 0 15px;
  height: 80px;
  width: 20px;
  border-radius: 30px;

  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}

/*
  @media screen and (max-width:767px) {

  }
   */

* {
  box-sizing: border-box;
}

.task-activity li {
  list-style: none;
  margin: 1rem 0;
  padding: 0rem 1rem 1rem 3rem;
  position: relative;
}
.task-activity time {
  display: block;
  color: var(--light-grey);
}

.task-icon {
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-icon svg {
  font-size: 12px;
  color: var(--white);
}
.task-icon--attachment {
  background-color: #fba63c;
}
.task-icon--comment {
  background-color: #5dc983;
}
.task-icon--edit {
  background-color: #7784ee;
}

@media only screen and (max-width: 1300px) {
  .project {
    max-width: 100%;
  }

  .task-details {
    width: 100%;
    display: flex;
  }

  .tag-progress,
  .task-activity {
    flex-basis: 50%;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .project-column:nth-child(2),
  .project-column:nth-child(3) {
    display: none;
  }

  .project-tasks {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .project-column:nth-child(4) {
    display: none;
  }

  .project-tasks {
    grid-template-columns: 1fr;
  }

  .task-details {
    flex-wrap: wrap;
    padding: 3rem 1rem;
  }

  .tag-progress,
  .task-activity {
    flex-basis: 100%;
  }

  h1 {
    font-size: 25px;
  }
}
/* main */
/* #loding */

/*  */

.vertical-tabs a {
  display: flex;
  align-items: center;
  padding: 0.75em 0.4em;
  color: #9c9cab;
  transition: 0.15s ease;
}

.chart-svg {
  position: relative;
  max-width: 150px;
  min-width: 100px;
  flex: 1;
}

.circle-bg {
  fill: none;
  stroke: rgb(1, 1, 1);
  stroke-width: 3;
}

.circle {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  -webkit-animation: progress 90s ease-out forwards;
  animation: progress 90s ease-out forwards;
}

.circular-chart.orange .circle {
  stroke: darkslateblue;
}

.percentage {
  fill: #fff;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: 400;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* .................................. */

.skiils #type .h-1 span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* ........................... team */
